<div>yo</div>

<form
  action="
"
></form>
<input id="cryptoId" type="text" [(ngModel)]="cryptoId" />
<input id="date" type="text" [(ngModel)]="date" />

<button (click)="getPrices()">Click to fetch prices</button>

<button (click)="getPing()">Click to fetch ping</button>

<h1>On {{ date }}, Price in USD: ${{ priceAtDate }}</h1>
<h1>Current Price in USD: ${{ currentPrice }}</h1>

<hr />

<button (click)="getTwitterPost()">Click to get twitter post</button>

<h1>Username: {{ tweet.username }}</h1>
<h1>Date: {{ tweet.date }}</h1>
<h1>Text: {{ tweet.text }}</h1>
