<hr />

<button (click)="getTwitterPost()">Click to get twitter post</button>

<h1>Username: {{ tweet.username }}</h1>
<h1>Date: {{ tweet.date }}</h1>
<h1>Text: {{ tweet.text }}</h1>

<hr />

<h1>Detected {{ coinValues.length }} coins</h1>

<h1 *ngFor="let coin of coinValues">
  {{ coin.name }} was at {{ coin.priceAtDate }} currently at
  {{ coin.currentPrice }}
  <div *ngIf="coin.difference > 0">(+{{ coin.difference }}%)</div>
  <div *ngIf="coin.difference < 0">({{ coin.difference }}%)</div>
</h1>

<h1>
  If you investmented ${{ totalInitialInvestment }} evenly across these coins on
  {{ tweet.date }}, you will now have ${{ investmentValue }}
</h1>

<button (click)="analyseTweet()">analyse</button>
